html {
    scroll-behavior: smooth;
    --scrollbarBG: #000000;
    --thumbBG: #ffffff;
}
  
body {
    font-family: "Montserrat", sans-serif;
}
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

  
button {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 16px;
  background-color: #ffb400;
  border: 2px #ffb400 solid;
  transition: all 0.4s ease-in-out;
  color: #fff;
  padding: 15px;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
}   



@media screen and (max-width: 1600px){
  body {
    background-image: url('https://i.imgur.com/OE6pchQ.jpg');
    background-repeat: no-repeat;
  }
}

@media screen and (width: 1920px){
  body {
    background-image: url('https://i.imgur.com/IhVODPr.jpg');
    background-repeat: no-repeat;
  }
}